aiohttp==3.8.3
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
Brotli==1.0.9
certifi==2022.12.7
charset-normalizer==2.1.1
filelock==3.9.0
frozenlist==1.3.3
gevent==22.10.2
geventhttpclient==2.0.2
greenlet==2.0.2
grpcio==1.51.1
huggingface-hub==0.12.0
idna==3.4
multidict==6.0.4
numpy==1.24.1
packaging==23.0
Pillow==9.4.0
protobuf==3.20.3
python-rapidjson==1.9
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
six==1.16.0
tokenizers==0.13.2
tqdm==4.64.1
transformers==4.26.0
tritonclient==2.30.0
typing-extensions==4.4.0
urllib3==1.26.14
yarl==1.8.2
zope.event==4.6
zope.interface==5.5.2
