---
name: code formatting
on:
  - pull_request
jobs:
  black:
    name: black-check
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable
        with:
          options: "--check --verbose"
